*body{
    background-color: blanchedalmond;
    color: black;
}
h1{
    background-color: red;
    color: blue;
}
.rino{
    text-align: left;
    text-decoration: solid;

}
.bab{
    text-size-adjust: 15;
    background-color: bisque;
    text-decoration-color: blue;
}
